# Core pipeline & scraping
playwright
yt-dlp
requests
PyPDF2
num2words

# Audio processing
pydub
soundfile
noisereduce
scipy
librosa

# Dashboard & Data Analysis
pandas
dash
dash_bootstrap_components
plotly
